<?xml version="1.0" encoding="utf-8"?>
<!--Created by Ajith Nair
    UIN: 659841782-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a3"
    android:versionCode="1"
    android:versionName="1.0" >
    <permission android:name="edu.uic.cs478.s19.kaboom"
        android:description="@string/perm_desc"
        android:label="@string/perm_label"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="edu.uic.cs478.s19.kaboom"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_phonelink_ring_black_24dp"
        android:label="@string/app_name" >
        <activity
            android:name="PhoneImageViewerActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>